*{
	box-sizing: border-box;
	font-family: verdana; font-size: 14px;
}
body { 
	margin: 0;
	padding: 0;
	background-color: #f6f1cd;
	background-image:url('/images/gradient.png');
	background-repeat:repeat-x;
}
.container{
	margin: 0 auto;
	width: 1000px;
	min-height: 100vh;
	background-color: #FFF;
}
.header{
	background-color: #FFF;
	text-align: right;
}
nav{
	background-color: #006838;
	display: block;
	border-top: 1px solid #cdd2cb;
	text-align: center;
}
nav a{
	color: #FFF;
	display: inline-block;
	margin: 5px;
	padding: 0px 10px;
	font-weight: bold;
}
.content{
	background-color: #FFF;
	padding: 3em;
	/*text-align: center;*/
}
.linksboven{
	float: left;
	padding: 70px 10px 0;
	width: 400px;
	text-align: left;
}
.linksboven table{
	width: 329px;
	display: inline-block;
}
table thead{
	font-weight: bold;
}
table thead td, table tbody td{
	padding-right: 1em;
}
table tbody{
	width: 100%;
}
.error{
	color: red;
	border: 1px solid red;
}
.success{
	color: green;
	border: 1px solid green;
}
h1{
	font-size: 30px;
}
h2{
	font-size: 20px;
	margin-top: 2em;
	margin-bottom: 0.4em;
}
.center{
	display: block;
	text-align: center;
}
.right{
	text-align: right;
}
.left{
	text-align: left;
}
#demotable{
	width: 100%;
}
#demotable td{
	vertical-align: top;
	border-right: 1px dotted grey;
}
#demotable td:last-child{
	border-right: none;
	padding-left: 1em;
}